.left-bar {
  position: fixed;
  width: 8rem;
  height: 100vh;
  background-color: #01134e;
  .logo {
    margin-top: 1.8rem;
    margin-left: 2.3rem;
  }
  .icons {
    margin-top: 7rem;
    height: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    div {
      position: relative;
      width: 100%;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      .dout-group {
        position: absolute;
        top: -50%;
        right: 25%;
        transform: translate(0%, 25%);
      }
      .rectangle {
        position: absolute;
        top: -55%;
        left: 0%;
      }
    }
  }
}
